{
  "parser": "@typescript-eslint/parser",
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    
    "prettier/react"
  ],
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "overrides": [{
    "files": [
      "src/**/*.{ts,tsx}"
    ],
    "extends": [
      "plugin:@typescript-eslint/recommended"
    ]
  }]
}