.navigation {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 100;
  height: 20vh;
  max-height: 100px;
}

.navigationItem {
  font-family: Avenir;
  font-style: normal;
  font-weight: 850;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  
}

.navigationItem:hover {
  text-decoration: underline;
  text-decoration-color:  #65BF73;
  text-decoration-thickness: 3px;
}

